.mobile_navbar{
    display: none;
}
@media(max-width:900px){
    .desktop_navbar{
        display: none !important;
        z-index: 999 !important;
    }
    .mobile_navbar{
        display: block;
        z-index: 997;
    }
    .shark_landing-page-img img{
        max-width: 300px ;
        margin-top: 40px;
      }
      .shark_landing-page-p{
        margin-top: 40px;
      }
      .shark_landing-page-p1{
          font-size: 50px;
          font-weight: 400;
      }
      .shark_landing-page-p2{
        font-size: 10px;
      }
}

