/*Landing page styling start*/
.shark_landing-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 90px;
}
.shark_landing-page-p{
  /* width: 30%; */
  margin-top: 20px;
}
.shark_landing-page-p1{
    font-size: 50px;
    font-weight: 400;
}
.shark_landing-page-p2{
  font-size: 18px;
}
.shark_text-color{
  color: #84e219;
}
.shark_landing-page-img img{
  width: 400px;
}
.shark_landing-page a{
  color: white;
  background-color: #84e219;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 50px;
  padding-bottom: 17px;
  box-shadow: inset 0 0 15px #a6ff00;
}

/* @media(max-width:901px){
  .shark_landing-page-img img{
      width: 100px;
    }
} */


/*Landing page styling end*/